<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>the tech blog</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    {{#each css}}
      <link rel="stylesheet" href="/css/{{this}}" />
    {{/each}}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid bg-primary">
        <a class="navbar-brand text-light fs-2" href="#">the tech blog™ </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">

              {{#if loggedIn}}
                <a
                  href="#"
                  class="btn btn-info btn-lg active"
                  role="button"
                  aria-pressed="true"
                  id="logout"
                >logout</a>
              {{else}}
                <a
                  href="/login"
                  class="btn btn-info btn-lg active"
                  role="button"
                  aria-pressed="true"
                  id="login"
                >login</a>
              {{/if}}

            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">blogs</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <h1 class="text-end">the tech blog™</h1>
      <h5 class="text-end text-style fw-lighter">your source for tech news</h5>
    </div>

    {{{body}}}

    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}


    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>