<section class="container my-5">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-8 col-lg-6">
      {{! loop over posts and display all }}
      {{#each posts as |blogPosts|}}
        <div class="card text-bg-light mb-3">

          <div class="card-header bg-info"><h2>{{{blogPosts.title}}}</h2>
            <h5>by {{blogPosts.user.username}} on {{{blogPosts.date}}} </h5></div>
          <p class="card-body">
            {{{blogPosts.content}}}
          </p>
        </div>
      {{/each}}
    </div>
  </div>
</section>