<section class="container my-5">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-8 col-lg-6">
        {{#each db_blog as blogPost }}
        <h5>{{{db_blog.date}}}</h5>
        <h2>{{{db_blog.title}}}I'm the homepage homeskillet!</h2>
        <p>
            {{{db_blog}}}
          Lorem ipsum dolor sit amet consectetur adipisicing elit. A, atque placeat magni fuga necessitatibus similique
          unde eos autem laboriosam. Deleniti dolorum, provident minima autem debitis a soluta blanditiis reprehenderit
          velit?
        </p>
      </div>
    </div>
  </section> 