{{! <div class="row justify-content-between-md">

  <div class="login-card align-items-center">
    <h2 class="page-title">Login</h2>
    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="login-card container my-6">
    <div class="row justify-content-center">
      <h2 class="page-title">Signup</h2>
      <form class="form signup-form">
        <div class="form-group">
          <label for="username-signup">Username:</label>
          <input class="form-input" type="text" id="username-signup" />
        </div>
        <div class="form-group">
          <label for="email-signup">Email:</label>
          <input class="form-input" type="text" id="email-signup" />
        </div>
        <div class="form-group">
          <label for="password-signup">Password:</label>
          <input class="form-input" type="password" id="password-signup" />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">signup</button>
        </div>

      </form>
    </div>
  </div>

</div> }}

<div class="mask d-flex align-items-center h-100 gradient-custom-3">
  <div class="container h-100">
    <div class="row d-flex justify-content-center h-100">
      <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="card" style="border-radius: 15px;">
          <div class="card-body p-5">
            <h2 class="text-uppercase text-center mb-5">Login!</h2>

            <form>

              <div class="form-outline mb-4">
                <input
                  type="email"
                  id="email-login"
                  class="form-control form-control-lg"
                  placeholder="email"
                />
              </div>

              <div class="form-outline mb-4">
                <input
                  type="password"
                  id="password-login"
                  class="form-control form-control-lg"
                  placeholder="password"
                />
              </div>

              <div class="d-flex justify-content-center">
                <button
                  type="button"
                  class="btn btn-secondary btn-block btn-lg gradient-custom-4 text-body"
                  id="login-form"
                >login!</button>
              </div>

              <p class="text-center text-muted mt-5 mb-0">Don't already an
                account?
                <a href="./signup" class="fw-bold text-body"><u>Sign-Up here</u></a></p>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/login.js"></script>