<div class="card text-bg-light mb-3">

  <div class="card-header bg-info"><h2>{{title}}</h2>
    <h5>by {{username}} on {{format_date createdAt}} </h5></div>
  <p class="card-body">
    {{content}}
  </p>
</div>